<h1>ToDo!</h1>

@if (store.busy()) {
<mat-progress-bar mode="indeterminate" />
}

<ul>
  @for (todo of store.todos(); track todo.id) {
  <li>{{ todo.title }}</li>
  } @empty {
  <li>No Todos!</li>
  }
</ul>

<form #addNgForm="ngForm" [formGroup]="addForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" formControlName="title" />
  </mat-form-field>
  <button type="submit" mat-stroked-button [disabled]="!addForm.valid">
    create
  </button>
</form>
