<h1>ToDo!</h1>

@if (store.busy()) {
<mat-progress-bar mode="indeterminate" />
} @if (store.searchHasError()) {
<mat-error>{{ store.searchError() }}</mat-error>
}

<ul>
  @for (todo of store.todos(); track todo.id) {
  <li>{{ todo.title }}</li>
  } @empty {
  <li>No Todos found!</li>
  }
</ul>

<form #addNgForm="ngForm" [formGroup]="addForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" formControlName="title" />
  </mat-form-field>
  <button
    type="submit"
    mat-stroked-button
    [disabled]="!addForm.valid || store.addBusy()"
  >
    create
  </button>
</form>

@if (store.addHasError()) {
<mat-error>{{ store.addError() }}</mat-error>
}
